.postComp {
  text-align: left;
  margin-top: 30px;
  min-height: 35vh;
}

.addPostForm {
  margin-top: 20px;
  padding: 10px 50px;
}

@media (max-width: 830px) {
  .addPostForm {
    padding: 10px 0;
  }
}

.addPostForm div:not(:last-of-type) {
  margin-bottom: 30px;
}

.btn {
  margin-left: 50px;
}